body {
  display: flex;
  justify-content: center;
}
.Box {
  width: 900px;
  height: auto;
  background: linear-gradient(white, red);
  background-repeat: no-repeat;
  margin: 20px 50px 20px 50px;
  position: relative;
}
img {
  width: 100px;
  height: 120px;
  margin-left: 30px;
}
h1 {
  text-align: center;
  font-family: Script Std, cursive;
  font-style: itaick;
  margin-top: 50px;
}
h2 {
  font-size: 20px;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.formList {
  list-style: none;
}
li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  font-family: "Times New Roman", Times, serif;
}
.info {
  width: 50%;
  margin-left: 25%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
#tooltip {
  position: absolute;
  background-color: rgb(255, 0, 0, 0.5);
  margin-top: -50px;
  margin-right: 10px;
  width: 60%;
  height: auto;
  color: white;
  text-align: center;
  border-radius: 10px;
}
#infoOne {
  width: 35%;
  text-align: left;
  margin-top: 0;
}
#infoTwo {
  background-color: rgb(128, 15, 15);
  color: white;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}
.button {
  margin-left: 75%;
  background-color: firebrick;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.winSmoll {
  cursor: pointer;
}
p {
  margin-top: 20px;
  margin-bottom: 50px;
}
.divResult {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 5%;
}
#votesCountTak {
}
#votesCountNie {
  margin-left: 20px;
}
footer {
  margin: 20px;
  display: block;
  justify-content: center;

  text-align: center;
}
.footerText {
}
