<!DOCTYPE html>
<html lang="pl-Pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj swoje pytanie</title>
    <link rel="stylesheet" href="/components/styleForm.css">
</head>

<body>
    <div class="BoxForm">
        <p>
            Na stronie formularz z miejscem na wpisanie pytania
        </p>
        <p>
            podgląd pytań
        </p>
        <p>
            może liczba poparcia dla pytania
        </p>

    </div>
</body>

</html>